.drawer-container {
    background-color: whitesmoke;
}

.drawer-sidebar {
    background-color:#19212B;
    padding-left: 20px;
    padding-right: 20px;
    color: snow;
}

.drawer-content {
    padding-left: 20px;
    padding-right: 20px;
}
